@model BasePackageModule2.Models.SubCategory

@{
    ViewData["Title"] = "Edit";
}

<div id="kt_content_container" class="container-xxl" data-select2-id="select2-data-kt_content_container">


    
    <form asp-action="Edit" enctype="multipart/form-data" id="kt_ecommerce_add_product_form" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework" data-select2-id="select2-data-kt_ecommerce_add_product_form">
        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10" data-select2-id="select2-data-155-8mz4">
            <!--begin:::Tabs-->
           
            </ul>
            <!--end:::Tabs-->
            <!--begin::Tab content-->
            <div class="tab-content">
                <!--begin::Tab pane-->
                <div class="tab-pane fade active show" id="kt_ecommerce_add_product_general" role="tab-panel">
                    <div class="d-flex flex-column gap-7 gap-lg-10">
                        <!--begin::General options-->
                        <div class="card card-flush py-4">
                            <!--begin::Card header-->
                            <div class="card-header">
                                <div class="card-title">
                                    <h2>Sub Category</h2>
                                </div>
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0">
                                <!--begin::Input group-->
                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="form-group">
                                        <label asp-for="CategoryId" class="control-label"></label>
                                        <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId"></select>
                                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                 
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <!--end::Input group-->
                            </div>
                            <!--end::Card header-->
                        </div>
                        <!--end::General options-->

                    </div>
                </div>
                <!--end::Tab pane-->
                <!--begin::Tab pane-->
                <!--end::Tab pane-->
            </div>
            <!--end::Tab content-->
            <div class="d-flex justify-content-end">
                <!--begin::Button-->
                <a asp-controller="Categories" asp-action="Index" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Back To List</a>
                <!--end::Button-->
                <!--begin::Button-->
                <input type="submit" value="Save" class="btn btn-primary" />
                <!--end::Button-->
            </div>
        </div>
       
    </form>

</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
