/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
    .banner {
        .banner-slider {
            .banner-item {
                .banner-inner {
                    .container {
                        .btn-custom {
                            margin-top: 545px;
                            float: right;
                            margin-right: -325px;
                        }
                    }
                }
            }
        }
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    .banner {
        .banner-slider {
            .banner-item {
                .banner-inner {
                    .container {
                        .btn-custom {
                            margin-top: 545px;
                            float: right;
                            margin-right: -325px;
                        }
                    }
                }
            }
        }
    }
  }

.ct-categories {
    .container {
        .row {
            .col-12 {
                .text-center {
                    font-family: 'Oswald', sans-serif;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    margin-top: 30px;
                    margin-bottom: 20px;
                    text-align: center;
                    font-size: 36px;
                    line-height: 1.1;
                    font-weight: 400;
                    color: #5e2e02;
                    /* position: relative;
                    display: inline-block;*/
                    padding-left: 60px;
                    padding-right: 60px;
                    text-shadow: 1px 4px 6px;

                    &:before {
                        content: "\f069";
                        font-family: FontAwesome;
                    }

                    &:after {
                        content: "\f069";
                        font-family: FontAwesome;
                    }
                }
            }
        }
    }
}

