.main-header .topbar {
  min-height: 40px;
  max-height: 40px; }
  .main-header .topbar .container-fluid .row .left-side {
    margin-top: -4px; }
  .main-header .topbar .container-fluid .row .right-side {
    margin-top: -21px; }

.main-header .navbar .navbar-nav .menu-item a {
  text-decoration: none;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 19px;
  line-height: 50px;
  color: #482918;
  text-shadow: none;
  padding: 16px;
  text-transform: uppercase; }

.banner .banner-item .banner-inner .container {
  /* Scroll animations styles */ }
  .banner .banner-item .banner-inner .container header span.animated {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 50px;
    height: 4px;
    width: 4px;
    border-radius: 2px;
    background: #fff;
    animation-duration: 2.5s;
    animation-iteration-count: infinite; }
  .banner .banner-item .banner-inner .container header span::before {
    position: absolute;
    top: -23px;
    content: "";
    height: 30px;
    width: 4px;
    border-radius: 2px;
    background: #fff;
    left: -10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .banner .banner-item .banner-inner .container header span::after {
    position: absolute;
    top: -23px;
    content: "";
    height: 30px;
    width: 4px;
    border-radius: 2px;
    background: #fff;
    right: -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .banner .banner-item .banner-inner .container .scroll-animations {
    display: flex; }
    .banner .banner-item .banner-inner .container .scroll-animations div {
      flex-grow: 1;
      padding: 30px;
      text-align: center;
      opacity: 0;
      color: #333; }
      .banner .banner-item .banner-inner .container .scroll-animations div span {
        font-size: 4em;
        color: #5AA9E0; }
      .banner .banner-item .banner-inner .container .scroll-animations div h3 {
        font-size: 1.9em;
        font-weight: 400;
        margin-bottom: 10px; }


