
@model BasePackageModule1.Controllers.CheckoutController.APaymentOptions
<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">Checkout<span>Payment Options</span></h1>
    </div><!-- End .container -->
</div>
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Checkout" asp-action="Index">Checkout</a></li>
            <li class="breadcrumb-item active" aria-current="page">Payment Options</li>
        </ol>
    </div><!-- End .container -->
</nav>
<!-- Bread Crumb END -->
<form class="form" asp-action="PaymentOptions" method="post">
    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h4>Payment Option</h4>

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <input type="hidden" asp-for="AddressId" />
                        <div class="form-check ">
                            <input type="radio" value="payOnline" asp-for="PaymentOption" class="form-check-input" checked> 
                            <label class="form-check-label" style="margin-left:10px;">
                                Pay Online
                            </label>
                        </div>

                        <div class="form-check ">
                            <input type="radio" value="cashOnDelivery" asp-for="PaymentOption" class="form-check-input">
                            <label class="form-check-label" style="margin-left:10px;">
                                Cash On Delivery
                            </label>
                        </div>

                        <div class="form-group form-check mt-2 mb-2">
                            <div class="input-group mb-3">
                                <input id="CouponsCode" class="form-control" style="margin-bottom:0rem !important;" name="CouponsCode" placeholder="Coupon code">
                                <span class="input-group-append bg-white border-left-0">
                                    <span class="input-group-text bg-transparent" id="Correct" style="display : none ; color:green">
                                        <i class="fa fa-check"></i>

                                    </span>
                                    <span class="input-group-text bg-transparent " id="Wrong" style="display : none ; color:red">
                                        <i class="fa fa-times "></i>
                                    </span>


                                </span>

                                <button class="btn btn-outline btn-outline-solid btn-outline-secondary" type="button" id="BtnIsvalid" onclick="Isvalid()">Check is valid</button>
                            </div>
                        </div>

                      

                    </div>
                    <aside class="col-md-5">
                        <div class="summary">
                            <div class="card-body">
                                <h3 class="summary-title">Order Summary</h3>
                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        
                                        
                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>Rs. @ViewBag.Items</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>
                                                @if (@ViewBag.Items < 500)
                                                {
                                                    <span  id="ShippingCharges">₹ 50 </span>
                                                }
                                                else
                                                {
                                                    <span  id="ShippingCharges">Free Shipping </span>
                                                }
                                                                                    </td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td> Rs.
                                                @if (ViewBag.Items < 500)
                                                {
                                                    var result = ViewBag.Items + 50;
                                                    @result ;
                                                }
                                                else
                                                {
                                                    @ViewBag.Items
                                                }
                                                                                    </td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                
                                
                                <button type="submit"  class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                                <input type="hidden" value="@ViewBag.Items" id="AllTotalvalue" />
                                

                            </div>
                        </div>

                    </aside>
                </div>
            </div>
        </div>
    </div>
</form>

    <script type="text/javascript">
        function Isvalid() {
            debugger;
            var AllTotalvalue = $('#AllTotalvalue').val();
            var btn = $('#BtnIsvalid');
            var Correct = $('#Correct');
            var Wrong = $('#Wrong');
            btn.prop('disabled', true);
            let CouponsCode = $("#CouponsCode").val()

            $.ajax({
                type: "POST",
                url: "/Checkout/Couponcode",
                data: { CouponsCode: CouponsCode, Total: AllTotalvalue },
                success: function (response) {
                    var a = response;
                    btn.prop('disabled', false);
                    debugger;
                    if (a != null && a[0] == "True") {

                        Correct.css('display', 'block');
                        Wrong.css('display', 'none');
                        $("#CouponsCode").css('border-color', 'limegreen')

                        document.getElementById("Promotion").innerHTML = '₹ ' + (AllTotalvalue - a[1]);
                        var ShippingCharges = 0;
                        if (AllTotalvalue < 500) {
                            ShippingCharges = 50;
                        } else {
                            ShippingCharges = 0;
                        }
                        document.getElementById("ShippingCharges").innerHTML = '₹ ' + (ShippingCharges);
                        document.getElementById("OrderTotalvalue").innerHTML = '₹ ' + a[1] + ShippingCharges;
                    }
                    else {
                        Correct.css('display', 'none');
                        Wrong.css('display', 'block');
                        $("#CouponsCode").css('border-color', 'red')
                        document.getElementById("Promotion").innerHTML = '₹ 00';
                        var ShippingCharges = 0;
                        if (AllTotalvalue < 500) {
                            ShippingCharges = 50;
                        } else {
                            ShippingCharges = 00;
                        }
                        document.getElementById("ShippingCharges").innerHTML = '₹ ' + (ShippingCharges);
                        debugger;
                        AllTotalvalue = parseInt(AllTotalvalue)

                        document.getElementById("OrderTotalvalue").innerHTML = '₹ ' + (AllTotalvalue + ShippingCharges);

                    }

                },
                failure: function (response) {
                    alert(response.responseText);
                    btn.prop('disabled', false);
                },
                error: function (response) {
                    alert(response.responseText);
                    btn.prop('disabled', false);
                }
            });
        }

    </script>
