<section class="header" style="        background-color: #9F4103;" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="margin-top:5rem;margin-bottom:2rem;">
                <h3 class="text-center text-white">Thank You</h3>
            </div>
        </div>
    </div>
</section>
<div class="jumbotron text-center">
    <h4 class="text-center"><strong>Welcome to Our GW Khamkar Spices Family.</strong></h4>
   
    <p class="lead">Please check your email for further Assistance.</p>
    <hr>
    <p>
        Having trouble? <a href="tel:917272070762">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="http://khamkarspices.in/" role="button">Continue to homepage</a>
    </p>
</div>