@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Http
@using BasePackageModule3.Utility
@inject IHttpContextAccessor HttpContextAccessor


@if (SignInManager.IsSignedIn(User))
{
    @*<li><a class="text-white" asp-area="Identity" asp-page="/Account/Manage/Index">@await Component.InvokeAsync("UserName")</a></li>*@

    
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" asp-area="Identity" asp-page="/Account/Manage/Index" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @await Component.InvokeAsync("UserName")
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <form style="background: none; margin: 0px; font-family: Raleway; padding: 0px; width: 0%; min-width: 0px;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link dropdown-item">Logout</button>
            </form>
        </div>
    </li>
    @*<li>
            <form  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>*@

    @if (HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssShoppingCartCount) != null)
    {
        <li class="nav-item">
            <a asp-controller="Cart" asp-action="Index" class="nav-link">
                @{
                    var count = HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssShoppingCartCount);
                }
                <i class="fa fa-shopping-cart"></i>&nbsp;(@count)
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Cart" asp-action="Index">
                <i class="fa fa-shopping-cart"></i>&nbsp;(0)
            </a>
        </li>
    }

}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
