@model BasePackageModule2.Models.AboutUs

@await Component.InvokeAsync("PageBanner")
<div class="container-fluid p-0 m-0">
    <div class="page-header page-header-big text-center">
        <h1 class="page-title text-white">@Model.Title</h1>
    </div><!-- End .page-header -->





</div>


<!-- End .container -->
<!-- End .breadcrumb-nav -->
<!-- End .page-content -->



@Html.Raw(Model.Description)