<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Dashboard">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/feather/css/feather.css">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/icon/icofont/css/icofont.css" rel="stylesheet" />

    @RenderSection("styles", required: false)
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css">
    <link href="~/admin/css/menumbar.css" rel="stylesheet" />
</head>
<body style="background-color:#fff !important;">

    <!-- Pre-loader start -->
    

    <section class="header" style=" background-color: #fff;
    margin: 0px;padding: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <nav class="navbar navbar-light bg-white">
                        <a class="navbar-brand">Navbar</a>
                        <form class="form-inline">
                            <a href="#" class="p-3">
                                <i class="fa fa-bell">

                                </i>
                            </a>
                            <a href="#" class="p-3">
                                <i class="fa fa-headphones"></i>


                            </a>
                            <a href="#" class="p-3">
                                <i class="fa fa-youtube-play">

                                </i>
                            </a>
                            <a  asp-area="Admin" asp-action="Index" asp-controller="Updates">
                                <i class="fa fa-plus"></i>
                            </a>
                        </form>
                    </nav>
                </div>
            </div>
        </div>

    </section>

    <partial name="_Navigation" />
    <div class="container">
        
        <div class="row mt-4 mb-4">
            <div class="col-sm-12">
                <h4>Change your account settings</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

</body>
</html>