@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ml-auto" style="align-items:center;">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Index">Dashboard<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="Admin" style="color:rgba(0,0,0,.5);" asp-controller="AboutUs" asp-action="Index">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage customer
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @*<a class="dropdown-item" href="#">calls</a>*@
                            <a class="dropdown-item" asp-area="Admin" asp-controller="ContactMessages" asp-action="Index">enquiries</a>
                            @*<a class="dropdown-item" href="#">subscribers</a>*@

                            @*<a class="dropdown-item" href="#">orders</a>*@
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage content
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @*<a class="dropdown-item" href="#">Product catalogue </a>*@
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Updates" asp-action="Index"> latest updates </a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Images" asp-action="Index"> image gallery </a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Logoes" asp-action="Index"> logo & favicon </a>

                            <a class="dropdown-item" asp-area="Admin" asp-controller="Footers" asp-action="Index">Business Profile</a>



                            <a class="dropdown-item" asp-area="Admin" asp-controller="Pages" asp-action="Index">Custom pages</a>

                            @*<a class="dropdown-item" href="#">Custom pages</a>
                <a class="dropdown-item" href="#">OTHER SECTION</a>*@

                            @*<a class="dropdown-item" href="#">content sharing</a>*@



                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Pages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @*<a class="dropdown-item" href="#">Product catalogue </a>*@
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Services" asp-action="Index"> Services </a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Posts" asp-action="Index"> Blogs </a>
                           

                            @*<a class="dropdown-item" href="#">Custom pages</a>
                <a class="dropdown-item" href="#">OTHER SECTION</a>*@

                            @*<a class="dropdown-item" href="#">content sharing</a>*@



                        </div>
                    </li>
                    @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MY REPORTS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">SEARCH</a>
                <a class="dropdown-item" href="#">SOCAIL</a>

                <a class="dropdown-item" href="#">SALES</a>
            </div>
        </li>*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="Admin" style="color:rgba(0,0,0,.5);" asp-controller="Seos" asp-action="Index">Seo<span class="sr-only">(current)</span></a>
                    </li>



                    <partial name="_LoginPartial" />

                </ul>

            </div>
        </nav>
