@model IEnumerable<BasePackageModule2.Models.Testimonail>


<section class="header" style="background: #3A0100;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top:49px;">
                <h2 class="text-center text-white" style="margin-bottom:44px;">Videos Testimonial</h2>
            </div>
        </div>
    </div>
</section>                                                                                                                                                                                                                                                                                                                                                                                                                                                    
<div class="section section-padding  posts">
    <div class="container">

        <div class="row mb-4" style="margin-bottom:20px;">
            @foreach (var news in Model)
            {
                <!-- Post Start -->
            <div class="col-lg-6 col-md-6 mb-4">
                <!-- 21:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item" src="@news.Video"></iframe>
                </div>

               
            </div>
                <!-- Post End -->
            }

        </div>

    </div>
</div>