@model BasePackageModule3.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <div class="card">
        <div class="card-header">

            <h1>Edit</h1>
            <h4>Category</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

        </div>
        <div class="card-block">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>

@section styles
{
    <link href="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" src="/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
    tinymce.init({
            selector: '#Description, #ShortDescription',
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'table emoticons template paste help'
            ],
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify |' +
                'fontselect fontsizeselect | forecolor backcolor' +
                ' bullist numlist outdent indent | link image | print preview media fullpage | ' +
                'forecolor backcolor emoticons | help',
            menu: {
                favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | spellchecker | emoticons' }
            },
            menubar: 'favs file edit view insert format tools table help',
        });</script>
}
