@model BasePackageModule3.ViewModels.SubnCatViewModel
@using BasePackageModule3.Extensions


@{
    ViewData["Title"] = "Edit";
}
<div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <div class="card">
        <div class="card-header">

            <h1>Edit</h1>

            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="card-header-right">
                <i class="icofont icofont-spinner-alt-5"></i>
            </div>

        </div>
        <div class="card-block">
            <form asp-action="Edit">
                <input type="hidden" asp-for="SubCategory.CategoryId" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <select id="ddlcategorylist" class="form-control" asp-for="SubCategory.CategoryId" asp-items="Model.CategoryList.ToSelectListItem(Model.SubCategory.CategoryId)"></select>

                </div>
                <div class="form-group">
                    <label class="control-label">Sub Category</label>
                    <input asp-for="SubCategory.Name" class="form-control" />

                </div>

                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>
