@page
@model LoginModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<!-- login-->
<div class="login app-pages app-section">
    <div class="container">
        <div class="pages-title">
            <h3>Login</h3>
        </div>
        <form id="account" method="post">
            <input type="email" asp-for="Input.Email" placeholder="Email">
            <input type="password" asp-for="Input.Password" placeholder="password">
            <div><a id="forgot-password" asp-page="./ForgotPassword" class="forgot">Forgot Password?</a></div>
            <div class="chebox">
                <input type="checkbox" asp-for="Input.RememberMe" id="checkbox" />
                <label for="checkbox">Remember me</label>
            </div>
            <button type="submit" class="button">Login</button>
            <div class="create-account">Not Registered? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create an account</a></div>
        </form>

    </div>
</div>
<!-- end login -->
