@using BasePackageModule2.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Http
@using BasePackageModule2.Utility
@using Microsoft.EntityFrameworkCore
@inject IHttpContextAccessor HttpContextAccessor

@{ var user = await UserManager.Users.Include(a => a.Cart).FirstOrDefaultAsync(a => a.Id == UserManager.GetUserId(User)); }

<!--<div class="mini_cart_wrapper mini_cart_three">
    <a href="javascript:void(0)"><i class="ion-bag"></i>  <span>-->@*@user.Cart.Count()*@<!--</span></a>-->
    <!--mini cart-->
    <!--<div class="mini_cart">

        <div class="mini_cart_footer">
            <div class="cart_button">
                <a href="cart.html">View cart</a>
                <a href="checkout.html">Checkout</a>
            </div>
        </div>
    </div>-->
    <!--mini cart end-->
<!--</div>-->

<div class="dropdown cart-dropdown">
    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
        <div class="icon">
            <i class="icon-shopping-cart"></i>
            <span class="cart-count">2</span>
        </div>
        <p>Cart</p>
    </a>

    <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-cart-products">
            <div class="product">
                <div class="product-cart-details">
                    <h4 class="product-title">
                        <a href="product.html">Beige knitted elastic runner shoes</a>
                    </h4>

                    <span class="cart-product-info">
                        <span class="cart-product-qty">1</span>
                        x $84.00
                    </span>
                </div><!-- End .product-cart-details -->

                <figure class="product-image-container">
                    <a href="product.html" class="product-image">
                        <img src="assets/images/products/cart/product-1.jpg" alt="product">
                    </a>
                </figure>
                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
            </div><!-- End .product -->

            <div class="product">
                <div class="product-cart-details">
                    <h4 class="product-title">
                        <a href="product.html">Blue utility pinafore denim dress</a>
                    </h4>

                    <span class="cart-product-info">
                        <span class="cart-product-qty">1</span>
                        x $76.00
                    </span>
                </div><!-- End .product-cart-details -->

                <figure class="product-image-container">
                    <a href="product.html" class="product-image">
                        <img src="assets/images/products/cart/product-2.jpg" alt="product">
                    </a>
                </figure>
                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
            </div><!-- End .product -->
        </div><!-- End .cart-product -->

        <div class="dropdown-cart-total">
            <span>Total</span>

            <span class="cart-total-price">$160.00</span>
        </div><!-- End .dropdown-cart-total -->

        <div class="dropdown-cart-action">
            <a href="cart.html" class="btn btn-primary">View Cart</a>
            <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
        </div><!-- End .dropdown-cart-total -->
    </div><!-- End .dropdown-menu -->
</div>