

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Component.InvokeAsync("Favicon")
    @await Component.InvokeAsync("Seo")
    @await RenderSectionAsync("MetaTags", required: false)







    <link rel="stylesheet" href="~/theme/Molla/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/theme/Molla/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/theme/Molla/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/theme/Molla/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/theme/Molla/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    @*Theme Skin Type*@

<style>
                .product.product-11 .btn-product:hover, .product.product-11 .btn-product:focus {
                    color: #fcb941 !important;
                    background-color: #fcb941 !important;
                    border-color: #fcb941 !important;
                }
</style>
    @await Component.InvokeAsync("ThemeSkin")


</head>
<body>


    <div class="page-wrapper">

        @await Component.InvokeAsync("Navigation")
        <main class="main">
            @RenderBody()
        </main>
        @await Component.InvokeAsync("Footer")




    </div>
    @await Component.InvokeAsync("MobileMenu")


    <!-- Plugins JS File -->
    <script src="~/theme/Molla/assets/js/jquery.min.js"></script>
    <script src="~/theme/Molla/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/theme/Molla/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="~/theme/Molla/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/theme/Molla/assets/js/superfish.min.js"></script>
    <script src="~/theme/Molla/assets/js/owl.carousel.min.js"></script>
    <script src="~/theme/Molla/assets/js/jquery.magnific-popup.min.js"></script>

    
    <script src="~/theme/Molla/assets/js/bootstrap-input-spinner.js"></script>
    <script src="~/theme/Molla/assets/js/jquery.plugin.min.js"></script>
   
    <script src="~/theme/Molla/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="~/theme/Molla/assets/js/bootstrap-input-spinner.js"></script>
    <script src="~/theme/Molla/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/theme/Molla/assets/js/jquery.sticky-kit.min.js"></script>

    <!-- Footer Skin Js-->
    @await Component.InvokeAsync("FooterSkin")


</body>
</html>