@model TomBase.Models.SkinSetting

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SkinSetting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrimaryColor" class="control-label"></label>
                <input asp-for="PrimaryColor" class="form-control" />
                <span asp-validation-for="PrimaryColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondryColor" class="control-label"></label>
                <input asp-for="SecondryColor" class="form-control" />
                <span asp-validation-for="SecondryColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FontFamily" class="control-label"></label>
                <input asp-for="FontFamily" class="form-control" />
                <span asp-validation-for="FontFamily" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
