@model BasePackageModule3.Models.ShoppingCart
@using BasePackageModule3.Extensions

@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
<!------ Include the above in your HEAD tag ---------->

<div class="container">

    <hr>
    <div class="row mb-4">
        <aside class="col-sm-5 border-right">
            <article class="gallery-wrap">
                <div class="img-big-wrap">
                    <div class="text-center"> 
                        <a href="#"><img style="height: 500px;" src="@Url.Content(Model.Item.Image)" class="img-fluid"></a>
                    </div>
                </div> <!-- slider-product.// -->
                <div class="img-small-wrap">
                    @* <div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>
                    <div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>
                    <div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>
                    <div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div> *@
                </div> <!-- slider-nav.// -->
            </article> <!-- gallery-wrap .end// -->
        </aside>
        <aside class="col-sm-7">
            <form method="post" style="    background-color: #ffffff;
     margin: 0px;
     font-family: Raleway;
     padding: 0px;
     width: 100%;
     min-width:0px;">
                <article class="card-body p-5">
                    <input type="hidden" asp-for="ItemId" />
                    <h3 class="title mb-3">@Model.Item.Name</h3>

                    <p class="price-detail-wrap">
                        <span class="price h3 text-warning">
                            <span class="currency">Inr Rs.</span><span class="num">@Model.Item.Price</span>
                        </span>

                    </p> <!-- price-detail-wrap .// -->
                    <dl class="item-property">
                        <dt>Description</dt>
                        <dd>
                            <p>
                                @Html.Raw(Model.Item.Description)
                            </p>
                        </dd>
                    </dl>
                    <dl class="param param-feature">
                    </dl>  <!-- item-property-hor .// -->
                    <dl class="param param-feature">
                    </dl>  <!-- item-property-hor .// -->
                    <dl class="param param-feature">
                    </dl>  <!-- item-property-hor .// -->

                    <hr>
                    <div class="row">
                        <div class="col-sm-5">
                            <dl class="param param-inline">
                                <dt>Quantity: </dt>
                                <dd>
                                    <input asp-for="Count" class="form-control" />
                                </dd>
                            </dl>  <!-- item-property .// -->
                        </div> <!-- col.// -->
                        <div class="col-sm-7">
                            <!-- item-property .// -->
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <hr>
                    <a href="#" class="btn btn-lg btn-primary text-uppercase"> Buy now </a>
                    <button type="submit" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Add to cart </button>
                </article>
            </form>
        </aside> <!-- col.// -->
    </div> <!-- row.// -->



</div>
<!--container.//-->
@*@section Scripts {
        <script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    }*@
