@model BasePackageModule1.Models.HomeProgessBar

@{
    ViewData["Title"] = "Edit";
}




<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card p-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="TitleOne" class="control-label"></label>
                        <input asp-for="TitleOne" class="form-control" />
                        <span asp-validation-for="TitleOne" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TitleTwo" class="control-label"></label>
                        <input asp-for="TitleTwo" class="form-control" />
                        <span asp-validation-for="TitleTwo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
