@{
    ViewBag.Title = "Thank you";
}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h2>Thank you for payment</h2>
            <p>Your Order has been placed</p>

            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Continue Shopping</a>

            <a asp-action="Index" asp-controller="Orders" class="btn btn-primary">Goto Orders</a>
        </div>
    </div>
</div>