@model BasePackageModule2.Models.Page

@await Component.InvokeAsync("PageBanner")
<div class="container-fluid p-0 m-0">
    <div class="page-header page-header-big text-center">
        <h1 class="page-title text-white">@Model.Name</h1>
    </div><!-- End .page-header -->





</div>

<div class="page-content">
    <div class="container">
        @Html.Raw(Model.Content)
        </div>
    </div>

