.banner .container .row .s6 .ctname {
  margin-bottom: 20px; }

.p-item {
  margin-top: 6rem; }
  .p-item .s6 .card .p-name {
    text-align: center;
    margin-top: 14px; }
  .p-item .s6 .card .p-price {
    text-align: center;
    margin-top: 14px;
    margin-bottom: 5px; }
