<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Dashboard">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/admin/css/admin.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/feather/css/feather.css">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/icon/icofont/css/icofont.css" rel="stylesheet" />

    @await RenderSectionAsync("styles", required: false)
    <!-- Style.css -->
    @*<link rel="stylesheet" type="text/css" href="/assets/css/style.css">*@
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css">

</head>

<body style="background-color:#fff !important;">

    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>

    <section class="header" style=" background-color: #fff;
                                                                                                                       margin: 0px;padding: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <nav class="navbar navbar-light bg-white">
                        <a class="navbar-brand">
                            <img src="~/img/FossTech Logo.jpg" alt="Logo" width="100" />
                        </a>
                        <form class="form-inline">
                            <a href="#" class="p-3">
                                <i class="fa fa-bell">

                                </i>
                            </a>
                            <a href="#" class="p-3">
                                <i class="fa fa-headphones"></i>


                            </a>
                            <a href="#" class="p-3">
                                <i class="fa fa-youtube-play">

                                </i>
                            </a>
                            <a asp-area="Unibase" asp-action="Create" asp-controller="Posts">
                                <i class="fa fa-plus"></i>
                            </a>
                        </form>
                    </nav>
                </div>
            </div>
        </div>

    </section>

    <partial name="_Navigation" />

    <div class="container" style="margin-top: 40px;">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <!-- Pre-loader end -->
    <!-- Required Jquery -->
    @* <script data-cfasync="false" src="..\..\..\cdn-cgi\scripts\5c5dd728\cloudflare-static\email-decode.min.js"></script> *@
    <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/lib/popper.js/umd/popper.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap-4.5.0/dist/js/bootstrap.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/lib/jQuery-slimScroll/jquery.slimscroll.min.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="/lib/modernizr/modernizr.min.js"></script>
    <!-- Chart js -->
    @* <script type="text/javascript" src="/lib/Chart.js/Chart.min.js"></script> *@

    <script src="/assets\js\jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/assets\js\SmoothScroll.js"></script>
    <script src="/assets\js\pcoded.min.js"></script>
    <!-- custom js -->
    <script src="/assets\js\vartical-layout.min.js"></script>
    @* <script type="text/javascript" src="/assets\pages\dashboard\custom-dashboard.js"></script> *@
    <script type="text/javascript" src="/assets\js\script.min.js"></script>


    @if (TempData["_alert.type"] != null)
    {
        <script src="~/lib/notify/notify.min.js"></script>
        <script>
            $( document ).ready(function() {
                $.notify('@TempData["_alert.title"]', '@TempData["_alert.type"]');
            });

        </script>
    }


@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
