@model TomBase.Models.Faq

@{
    ViewData["Title"] = "Edit";
}


<div id="kt_content_container" class="container-xxl" data-select2-id="select2-data-kt_content_container">
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Edit" enctype="multipart/form-data" id="kt_ecommerce_add_product_form" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework" data-select2-id="select2-data-kt_ecommerce_add_product_form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        
        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10" data-select2-id="select2-data-155-8mz4">
            <!--begin:::Tabs-->
            <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-n2">
                <!--begin:::Tab item-->
                <li class="nav-item">
                    <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_add_product_general">General</a>
                </li>
                <li class="nav-item ml-5"> <a asp-action="Index" class="btn btn-success">Back to List</a></li>
                <!--end:::Tab item-->

            </ul>
            <!--end:::Tabs-->
            <!--begin::Tab content-->
            <div class="tab-content">
                <!--begin::Tab pane-->
                <div class="tab-pane fade active show" id="kt_ecommerce_add_product_general" role="tab-panel">
                    <div class="d-flex flex-column gap-7 gap-lg-10">
                        <!--begin::General options-->
                        <div class="card p-10">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Qus" class="control-label"></label>
                                <input asp-for="Qus" class="form-control" />
                                <span asp-validation-for="Qus" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Ans" class="control-label"></label>
                                <input asp-for="Ans" class="form-control" />
                                <span asp-validation-for="Ans" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!--end::Tab pane-->

                </div>
                <!--end::Tab content-->

            </div>
            <div class="d-flex justify-content-end">
                <button> <a asp-action="Index" class="btn btn-info">Back to List</a></button>
                <!--begin::Button-->
                <a id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
                <!--end::Button-->
                <!--begin::Button-->
                <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
                    <span class="indicator-label">Save Changes</span>
                    <span class="indicator-progress">
                        Please wait...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
                <!--end::Button-->
            </div>
        </div>

    </form>

    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
