@model BasePackageModule1.Models.AboutUs

@{
    ViewData["Title"] = "Create";
}

<div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <div class="card">
        <div class="card-header">

            <h1>Create</h1>
            <h4>About Us</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            

        </div>
        <div class="card-block">
            <form asp-action="Create" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea id="editor" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Keywords" class="control-label"></label>
                    <input asp-for="Keywords" class="form-control" />
                    <span asp-validation-for="Keywords" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input name="formImage" type="file" accept="image/*" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Video" class="control-label"></label>
                    <input asp-for="Video" class="form-control" />
                    <span asp-validation-for="Video" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>
</div>

@section styles
{
    <link href="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#editor',
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'table emoticons template paste help'
            ],
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify |' +
                'fontselect fontsizeselect | forecolor backcolor' +
                ' bullist numlist outdent indent | link image | print preview media fullpage | ' +
                'forecolor backcolor emoticons | help',
            menu: {
                favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | spellchecker | emoticons' }
            },
            menubar: 'favs file edit view insert format tools table help',
        });
    </script>
}

