
@{
    ViewData["Title"] = "Payment Failed";
}



    <h1>Payment Failed</h1>
@* <a asp-controller="Home" asp-action="Index" class="button">Continue Shopping</a> *@

<a asp-action="Address" class="button">Retry</a>