
@{
    ViewData["Title"] = "Payment";
}





    <div class="alus-breadcrumb breadcrumb-layout1" style="background-image:url();">
        <div class="container">
            <div class="breadcrumb-title-inner">
                <h1 class="breadcrumb-title">Payment</h1>
                <div class="breadcrumbs">
                    <div class="breadcrumbs-content">
                        <a asp-controller="Cart" asp-action="Index" title="Cart">Cart</a>
                        <span class="divider">
                            <i class="fas fa-angle-right"></i>
                        </span>
                        <a asp-controller="Checkout" asp-action="Address" title="Cart">Address</a>
                        <span class="divider">
                            <i class="fas fa-angle-right"></i>
                        </span>
                        Payment
                    </div>
                </div>
            </div>
        </div>
    </div>