@model IEnumerable<BasePackageModule2.Models.Testimonail>

@await Component.InvokeAsync("PageBanner")
<div class="container-fluid p-0 m-0">
    <div class="page-header page-header-big text-center">
        <h1 class="page-title text-white">Testimonials</h1>
    </div><!-- End .page-header -->





</div>

<div class="page-content">
    <div class="container">
        

       

        <hr class="mt-5 mb-5">
        
        

        <div class="owl-carousel owl-theme owl-testimonials" data-toggle="owl"
             data-owl-options='{
                            "nav": false,
                            "dots": true,
                            "margin": 20,
                            "loop": true,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "768": {
                                    "items":2
                                },
                                "992": {
                                    "items":3
                                },
                                "1200": {
                                    "items":3,
                                    "nav": true
                                }
                            }
                        }'>

            @foreach (var testimonial in Model)
            {
                <blockquote class="testimonial testimonial-icon text-center">
                    <p>“ @testimonial.Content ”</p>
                    <cite>
                        @testimonial.FullName
                        @*<span>Verified Customer</span>*@
                    </cite>
                </blockquote>
            }
            <!-- End .testimonial -->

           
        </div><!-- End .testimonials-slider owl-carousel -->
    </div><!-- End .container -->

    </div>
    