@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-8 ml-auto mr-auto">
            <div class="card">
                <header>
                    <h4 class="text-danger">@ViewData["Title"]</h4>
                    <p class="text-danger">You do not have access to this resource.</p>
                </header>
            </div>
        </div>
    </div>
</div>



